.modal-body{
    position: relative;
    height: 100px;
}

.fade-enter,
.fade-exit {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1em;
}

.fade-enter 
{
    opacity: 0;
}

.fade-exit
{
    opacity: 1;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}

.fade-exit-active {
opacity: 0;
transition: opacity 300ms;
}