/* Global */


.list-group-item
{
    border-style: solid;
    border-color: black;
}

/* Carusel */

.carousel-image
{
    height: 70em;
    width: auto;
    object-fit: cover;
}

.carosel-text
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -125%);
    color: white;
    text-align: center;
}

#test
{
    /* background-color: blue;
    flex-wrap: wrap; */
    /* padding: 100px; */
}

/* Footer */
.footer
{
    background-color: rgb(56, 46, 46);
    border-style: solid;
    border-color: rgb(56, 46, 46);
    color: rgb(209, 204, 204);
}

/* Scaling */

@media (max-width: 576px)
{
    .btn{
        text-align: center;
        margin: auto;
        font-size: 15px;
    }

    /* .nav-item{
        text-align: center;
        font-size: 10px;
        margin: 0;
        padding: 0;
    } */
    
    .display-5
    {
        text-align: center;
        font-size: 1.5em;
    }

    .display-3
    {
        font-size: 2.2em;;
    }

    .display-2
    {
        font-size: 2em;
    }
}

