.list-group-item
{
    border-style: solid;
    border-color: black;
}


@media (max-width: 576px)
{
    .btn{
        text-align: center;
        margin: auto;
        font-size: 15px;
    }

    /* .nav-item{
        text-align: center;
        font-size: 10px;
        margin: 0;
        padding: 0;
    } */

    .px-5{
        padding-left: 0.5em !important;
        padding-right: 0.5em !important;
        /* padding-left: (spacer * .5) !important;
        padding-right: (spacer * .5) !important; */
    }
    
    .display-5
    {
        text-align: center;
        white-space: pre;
        font-size: 2em;
    }

    .display-3
    {
        font-size: 2.2em;;
    }
}