.list-group-item
{
    border-style: solid;
    border-color: black;
}

#test
{
    /* background-color: blue;
    flex-wrap: wrap; */
    /* padding: 100px; */
}


@media (max-width: 576px)
{
    .btn{
        text-align: center;
        margin: auto;
        font-size: 15px;
    }

    /* .nav-item{
        text-align: center;
        font-size: 10px;
        margin: 0;
        padding: 0;
    } */
    
    .display-5
    {
        text-align: center;
        font-size: 1.5em;
    }

    .display-3
    {
        font-size: 2.2em;;
    }

    .display-2
    {
        font-size: 2em;
    }
}